<% include header %>
<p class="tishi">
    确定删除<%= doc.name %>用户吗？
</p>
<button type="submit" class="btn btn-info qxshanchu">取消</button>
<button type="submit" class="btn btn-danger shanchu" ><a href=""style="color:white">删除</a></button>
<% include footer %>