<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
<header>
    <h1 style="text-align: center; font-size: 20px;"><%= title %></h1>
</header>
<nav>
    <% if(user){ %>
    <% }else{ %>
    <% } %>

</nav>
<article>
    <% if(success){ %>
    <div class="tishi"><%= success %></div>
    <%}%>
    <% if(error){ %>
    <div class="tishi"><%= error %></div>
    <%}%>